/* colors to use
#015249 - forest green
#A5A5AF - sleek gray
*/
html {
	position: relative; /*allow for the footer to be position absolute and know where its starting point is*/
	min-height: 100%; /*ensures we use the whole screen size for height so the footer can be shown at the bottom*/
}

body {
    /*generic font styles should go here*/
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: white;
	margin-bottom: 90px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
}

body > header {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body > header h1 {
    font-size: 30px;
    padding-top: 15px;
}

.container {
    width: 1170px; /*Desktop Width of Container*/
    margin: 0 auto; /*Centers the container on your screen*/
    max-width: 100%; /* Makes sure that the content shrinks responsively */
}

#topNav {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#topNav ul li {
    display: inline-block;
    padding: 0 15px; /*spacing between each menu item*/
    position: relative;
}

#topNav li:after {
	content: "|"; /* the content that should be displayed after each li*/
	position: absolute; /*allow for absolute positioning of the / */
	right: 0; /*place it 0 pixels from the right*/
}

#topNav li:last-child:after {
	content: ""; /*do not include / after the last menu item*/
}

#bannerImage {
    width: 100%;
    margin-bottom: 8px;
}

#bannerImage > img {
    display: block;
    max-width: 100%;
		max-height: 700px;
    margin-left: auto;
    margin-right: auto;
}

body > header, body > footer {
    background-color: white;
		color: #57BC90; /* marine - green */
    min-height: 80px;
    width: 100%;
}

body > footer {
	position: absolute; /*forces the footer position to be in a specific place*/
	bottom: 0; /*tells the footer to be zero pixels from the bottom of the html tag*/
	background-color: #A5A5AF /* sleek gray */
}

.blogPostsSnippitList {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.blogPostSnippit {
    background-color: white;
		color: #57BC90; /* marine - green */
		border: thin solid #77C9D4; /* feather light blue*/
    padding: 6px;
    margin: 17px;
}

.blogPostSnippit header {
		background-color: white;
		color: #57BC90; /* marine - green */
		border-left: thick solid #77C9D4; /* feather light blue*/
		border-bottom: thin solid #77C9D4; /* feather light blue*/
    padding: 3px 5px;
}

.blogPostSnippit .snippitTitle {
    font-size: 20px;
    font-weight: bold;
}

.blogPostSnippit .snippitDetails {
    font-size: 14px;
    font-style: italic;
}

.blogPostSnippit main {
    padding-top: 5px;
    padding-left: 5px;
}

/* sam-wanders styling - will probably end up using for other wander pages*/
#leftNav {
	width: 14%;
	min-width: 40px;
	display: block;
	float: left;
}

#leftNav li {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

#mainContentWithNav {
	width: 85%;
	float: right;
}
